.custom-nav {
    padding-left: 40vw;
    padding-right: auto;
    font-size: 2rem;
}

.custom-nav-text-padding {
    padding: 1rem;
}

.carousel-item {
    width: 70%;
    padding-left: 25%;

}

.carousel-item > img {
    height: 50vh;
    width: 40vw;
}

.cta-btn {
    width: auto;
    margin-top: 1%;
    margin-left: 45%;
    margin-bottom: 5rem;
}

.contact-form {
    width: 80%;
    padding-left: 10vw;
    padding-bottom: 5rem;
}

.carousel-btns {
    display: flex;
    padding-left: 43vw;
}

.carousel-btns > button {
    height: 3rem;
    width: 5rem;
    border-radius: 1rem;
    background-color: aquamarine;
    font-weight: bolder;
}