.custom-nav {
    padding-left: 40vw;
    padding-right: auto;
    font-size: 2rem;
}

.custom-nav-text-padding {
    padding: 1rem;
}

.carousel-item {
    width: 70%;
    padding-left: 25%;

}

.carousel-item > img {
    height: 50vh;
    width: 40vw;
}

.cta-btn {
    width: auto;
    margin-top: 1%;
    margin-left: 45%;
}